
art/agt_action_fail.png

art/alert.png

art/alert3.png

art/fail.png

build/clippy_all/localpycos/Carbon/Windows.pyc

build/clippy_all/localpycos/Carbon/__init__.pyc

build/clippy_all/localpycos/Carbon/Win.pyc

clippy_all.spec

*.pyc

wx_demo.py

wx_clip.py

tk_demo.py

clippy_mac.py

dialog_demo.py

build/*
